html,
body {
  height: 100%;
  background-image: linear-gradient(
    180deg, rgba(201, 6, 126, 0.116) 95%, rgb(199, 199, 199)
    /* to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1 */
  );
}

.white-hl {
  color: white;
}

.container-fluid {
  overflow: hidden;
}
