html,
body {
  height: 100%;
  background-image: linear-gradient(
    75deg,
    rgba(5, 7, 7, 0.815) 100%,
    rgba(8, 8, 8, 0)
      /* to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1 */
  );
}

.container-fluid {
  overflow: hidden;
}
